*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    overflow: hidden
}

:root {

    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

    --Blue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --Blue850: hsl(228, 56%, 26%);
    --Blul950: hsl(229, 57%, 11%);
}

body,
html {
    background: var(--Blul950);
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 1440px;
    font-size: 14px;
    background-size: cover;
    background-position: center;

    overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6,
P {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
}

img {
    max-width: 100%;

}

.main_card {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;


}

.card-1 {
    height: 190px;
    width: 350px;
    background: var(--Blue850);
    border-radius: 0 100px 0 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: 700px;

}

.card-1 span img {
    padding: 5px;
    margin-left: 40px;
    background: black;
    border-radius: 10px;
}

.img_logo {
    padding: 30px;
    margin-bottom: 10px;
}

.card-2 {
    height: 141px;
    width: 500px;

    border-radius: 15px;
    justify-content: center;
    padding: 40px;
    align-items: center;
    position: relative;
    margin-left: 200px;
    color: var(--Blue);
    top: -200px;
    right: 10px;

}



.strong_box {
    position: relative;
    right: 40px;
    top: -50;
    background: var(--Blue850);
    padding: 25px;
    height: 200px;
    width: 350px;
    border-radius: 12px;
}

.por {
    width: 100%;
    height: 12px;
    background: black;
    border-radius: 20px;
    overflow: hidden;

}

.porten {
    width: 81.5%;
    height: 100%;
    background: #f53b57;
    border-radius: 20px;
}

.rang {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.bull {
    position: absolute;
    top: -35px;
    right: 25px;
    background: #fff;
    color: #000;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: auto;
    white-space: nowrap;

}

.bull h2 {
    margin: 0;
    font-size: 24px;
}

.bull span {
    font-size: 10px;
    font-weight: bold;
}


.background {
    background-image: url(/images/bg-desktop.png);
    padding: 200px;
    width: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    margin-bottom: 500px;
    position: static;
    bottom: 10px;
    /* margin-bottom: 100%; */
    margin: 0 auto;
}

@media screen and (max-width:768px) {
    body {
        padding: 20px;
    }

    .main_card {
        width: 100%;
        padding: 30px;


    }

    .card-2 {
        height: 100%;
        padding: 30px;
        flex-direction: column;

    }


    .strong_box {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        margin-top: 20px;

    }

}