/* ipad Desin */

@media screen and (max-width:1200px) and (min-width:790PX) {
    .container {
        width: 96%;

    }
}

/* Mobil Desin */

@media screen and (max-width:790px) and (min-width:250PX) {
    .container {
        width: 96%;

    }

    #content .container {
        flex-direction: column;
    }

    #main_content {
        flex-basis: 100%;
        gap: 10px;

        grid-template-columns: auto
    }

    #main_content .child_content,
    #main_content .child_content:first-child {
        grid-column: 1/2;
    }

    #main_content .child_content img,
    #main_content .child_content:first-child img {
        float: none;
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }

    #main_content .child_content:nth-child(2) img,
    #main_content .child_content:nth-child(3) img,
    #main_content .child_content:nth-child(4) img,
    #main_content .child_content:nth-child(5) img {
        display: block;
    }



    #main_content .child_content p {
        display: block;
    }

    #main_sideber {
        flex-basis: 100%;
        border-left: 0px solid #ddd;
        padding-left: 0px;

    }


}